/*배경*/
body {  background: #232526;  
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #323436, #232526); 
    }

/*정렬*/
div.all  { display: table; 
    border: 2px solid white;
    padding:15px;
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    }

/*피드백 메시지*/
#fdb_msg { text-align: center;}

/*TITLE*/
h1.type1{ width:100%;height:100%;text-align: center;}
h1.type1 A:link   { text-decoration: none;color: #FFFFFF; }
h1.type1 A:visited   { text-decoration: none; color:#FFFFFF; }
h1.type1 A:active   { text-decoration: none; color: #000000;}
h1.type1 A:hover   { text-decoration: none; color: #fd5555; }

/*회원가입 메뉴*/
div > form > p { text-align: center;font-size: small;}
div > form > p > a.option { text-align: center;font-size: small;color:#AAAABB;}