h1.type1{ text-align: center; background-color:#DDDDDD;
padding:50px}
h1.type1 A:link   { text-decoration: none; }
h1.type1 A:visited   { text-decoration: none; color:#000000; }
h1.type1 A:active   { text-decoration: none; }
h1.type1 A:hover   { text-decoration: none; color: #FFFFFF; }

