/*배경*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #232526;  
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #323436, #232526); 
}

/*정렬*/

/*피드백 메시지*/
#fdb_msg { text-align: center;}

/*TITLE*/
header h1.type1{ font-size:large;text-align: center;}
.type1 A:link   { text-decoration: none;color: #FFFFFF; }
.type1 A:visited   { text-decoration: none; color:#FFFFFF; }
.type1 A:active   { text-decoration: none; color: #000000;}
.type1 A:hover   { text-decoration: none; color: #fd5555; }

header { margin:3px;border: 3px solid white;}

/*회원가입 메뉴*/
div > form > p { text-align: center;font-size: small;}
div > form > p > a.option { text-align: center;font-size: small;color:#AAAABB;}

/*grid layout*/
nav, article, aside {
  margin: 2px;
  border: 3px solid white;
  border-radius: 0.5em;
  background: -webkit-linear-gradient(to right, #414345, #232526);  
  background: linear-gradient(to right, #414345, #232526);
  display: flex;
  text-align: center;
  flex-direction: column;
}

article.flex a{
    margin-top: auto;
    margin-bottom: auto;
    font-size: x-large;
    font-style: bold;
}
.flex A:link   { text-decoration: none;color: #ffffff; }
.flex A:visited   { text-decoration: none; color:#ffffff; }
.flex A:active   { text-decoration: none; color: #ffffff;}
.flex A:hover   { text-decoration: none; color: #fd5555; }
/*background: linear-gradient(to right, #000000,#ffffff);*/



/* items flex/expand vertically */
.vbox {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:         flex;

  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

}

/* items flex/expand horizontally */
.hbox {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:         flex;

  -webkit-flex-direction: row;
     -moz-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.space-between {
  -webkit-justify-content: space-between;
     -moz-justify-content: space-between;
      -ms-justify-content: space-between;
          justify-content: space-between;
}

footer{
    text-align: center;color:#AAAABB;
    font-size:small;
}
header, footer {
    height: 50px;
  }

.main {
  -webkit-flex: 1;
     -moz-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*가중치 적용*/
.flex { flex: 1; }
.flex2 { flex: 2; }
.flex3 { flex: 3; }
.flex4 { flex: 4; }
.fixed {
  flex: 0;
}
/* utils */
.right {
  align-items: flex-end;
}
.alert-box {
  background-color: red; 
}
.pad {
  padding: 10px;
}

/* 테이블 설정*/

table, td, tr, th{
    font-size:small;
    color:white;
}
table.check tr td a{
  font-size:small;
}
table.check tr td a:link   { text-decoration: none;color: #ffffff; }
table.check tr td a:visited   { text-decoration: none; color:#ffffff; }
table.check tr td a:active   { text-decoration: none; color: #ffffff;}
table.check tr td a:hover   { text-decoration: none; color: #fd5555; }




td.in_use{
    color:red;
    background-color: black;
}
td.avail{
    color:greenyellow;
    background-color: #333333;
}